.question-bg{
  max-width: 50%;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.question-form{
  padding: 4%;
  border-radius: 5px;
  background-color: var(--primary);
}
#question-text{
  padding-bottom: 2%;
  font-size: 1.5rem;
}
#agree, #not-agree{
  margin: 3%;
  font-size: 5rem;
}
#agree{
  padding: 6% 8%;
  box-shadow: -7px 7px 0px 0px var(--accent-dark);
}
#not-agree{
  padding: 6% 9.5%;
  box-shadow: 7px 7px 0px 0px var(--accent-dark)
}
#previous, #retake {
  padding: 1% 7%;
  margin-top: 3%;
  font-size: 1.1rem;
  font-weight: 700;
}
.result-content{
  padding: 3% 0%;
}
@media (max-width: 900px){
  .question-bg{
    max-width: 90%;
  }
}
